* {		
	margin:0;
	padding:0;
}
@font-face {
	font-family: 'Open Sans';
	font-style: normal;
	font-weight: 400;
	src: local('Open Sans'), local('OpenSans'), url(http://themes.googleusercontent.com/static/fonts/opensans/v6/cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
body {
	font:15px/120% 'Open Sans', Arial, sans-serif;
	color:#000;
	background: whiteSmoke;
	margin:0;
	padding:0;
	height: 100%;
	width: 100%;
	-webkit-font-smoothing:antialiased;
	-moz-font-smoothing:antialiased;
	-ms-font-smoothing:antialiased;
	-o-font-smoothing:antialiased;
	font-smoothing:antialiased;
}
#content {
	max-width: 940px;
	margin:0 auto;
	z-index: 1000;
}
h1 {
	padding-top: 20px;
	padding-bottom: 20px;
	color: #222;
	text-shadow: 0px 1px 8px rgba(0, 0, 0, .6);
	font-size: 60px;
	letter-spacing: 4px;
	line-height: 60px;
	font-weight: bold;
	text-align: center;
}
h2 {
	padding-bottom: 20px;
	text-decoration:none;
	color: #E92;
	letter-spacing: -2px;
	font-size: 40px;
	line-height: 40px;
	text-align: center;
}
ul {
	padding-left:17px;
}
img {
	display:block;
}
.article {
	float: left;
	display: inline-block;
	width:40%;
	background: white;
	margin: 20px 10px;
	padding: 30px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .6);
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,.6);
	box-shadow: 0 2px 8px rgba(0, 0, 0, .6);
}
.article small {
	color: #333;
	font-style: italic;
	font-size: 80%;
}
ol {
	padding-top:24px;
	padding-left:25px;
}
ol li {
	font-size: 80%;
	letter-spacing: 1px;
	clear:both;
	padding: 10px 2px 10px 2px;
	background-color: #FAFAFA;
	border-top: 1px solid #E9E9E9;
}
ol li:nth-child(2n+2) {
	background-color: whitesmoke;
}
ol li:last-child {
	border-bottom: 1px solid #E9E9E9; 
}
.article ol li:hover {
	background: transparent;
	padding: 16px 2px;
	border-bottom: 2px solid #0044FF;
	-webkit-transition: all linear .4s;
	-moz-transition: all linear .4s;
	-o-transition: all linear .4s;
	transition: all linear .4s;
	cursor: crosshair;
}
ol li strong {
	float:right;
	font-weight:normal;
}
.aside {
	float: right;
	display: inline-block;
	width:40%;
	background: white;
	margin: 20px 10px;
	padding: 30px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, .6);
	-moz-box-shadow: 0 2px 8px rgba(0,0,0,.6);
	box-shadow: 0 2px 8px rgba(0, 0, 0, .6);
}
.aside p {
	margin-bottom: 10px;
	letter-spacing: 0px;
	line-height: 18px;
}
.aside ul {
	padding-bottom: 12px;
	padding-left: 40px;
	line-height: 32px;
	letter-spacing: 0px;
	color: #04F;
}
.aside small {
	font-style: italic;
	font-size: 80%;
}
.right {
	float:right;
}
.center {
	margin:0 auto;
}
/*
#background {
	width : 100%;
	height: 100%;
	position: absolute;
	position: fixed;
	z-index: -1;
}
*/
#background {
display: block;
position: fixed;
width: 200%;
height: 200%;
left: -50%;
background: black;
	z-index: -1;
}

#background  img{
display: block;
margin: auto;
min-width: 50%;
min-height: 50%;
top: 0;
left: 0;
right: 0;
bottom: 0;
}


/* ==========================================================================
   RESPONSIVE DESIGN
   ========================================================================== */

/* --- Phone (portrait) 320px --- */
@media screen and (max-width:320px) {
	body {
		font:12px/120% 'Open Sans', Arial, sans-serif;
	}
	h1 {
		font-size: 20px;
		letter-spacing: 2px;
		line-height: 26px;
	}
	h2 {
		font-size: 24px;
		line-height: 22px;
	}
	.article, .aside {
		width: 80%;
		margin: 20px 5%;
		float: left;
	}
}

/* --- Phone (landscape) 480px --- */
@media screen and (min-width:320px) and (max-width:480px) {
	body {
		font:13px/120% 'Open Sans', Arial, sans-serif;
	}
	h1 {
		font-size: 26px;
		letter-spacing: 3px;
		line-height: 30px;
	}
	h2 {
		font-size: 24px;
		line-height: 22px;
	}
	.article, .aside {
		width: 85%;
		margin: 20px auto;
		float: left;
	}
}

/* --- Lower than 640px --- */
@media screen and (min-width:480px) and (max-width:640px) {
	body {
		font:14px/120% 'Open Sans', Arial, sans-serif;
	}
	h1 {
		font-size: 26px;
		letter-spacing: 3px;
		line-height: 26px;
	}
	h2 {
		font-size: 28px;
		line-height: 22px;
	}
	.article, .aside {
		width: 80%;
		margin: 20px 5%;
		float: left;
	}
}


/* --- Tablet (landscape) 768px --- */
@media screen and (min-width:640px) and (max-width:768px) {
	h1 {
		font-size: 38px;
		line-height: 38px;
	}
	h2 {
		font-size: 32px;
		line-height: 22px;
	}
	.article, .aside {
		width: 80%;
		margin: 20px 5%;
		float: left;
	}
}


/* --- Small computer screen 900px --- */
@media screen and (min-width:768px) and (max-width:900px) {
	h1 {
		font-size: 46px;
		line-height: 46px;
	}
	.article, .aside {
		width: 80%;
		margin: 20px 5%;
		float: left;
	}
}

/* ==========================================================================
	 END RESPONSIVE DESIGN
   ========================================================================== */